--- 
--- 

@import "{{ site.theme }}";

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1918;
}

::-webkit-scrollbar-thumb {
  background: #947756;
}

::-webkit-scrollbar-thumb:hover {
  background: #f38406;
}

body {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #1a1918;
}

.highlight {
  background-color: #0f0e0d;
}

.highlight .nt {
  color: #a89d84;
}

h1, h2 {
  color:#f3b062
}

h3 {
  color:#ebc59a
}

h4, h5, h6 {
  color:#e0ccb6
}

strong {
  color: inherit
}

blockquote {
  border-left-color: #ebc59a;
}

a {
  color:#e2bd93
}

a:hover, a:focus {
  color: #d19958 !important;
  font-weight: normal !important;
  filter: brightness(150%)
}

code {
  color:#a89d84
}

p {
  color:#dbd0c3
}

li {
  color:#898784
}

kbd {
  background-color: #3b3834;
  border-color: #6e675f;
  border-bottom-color: #5a554e;
  box-shadow: #5a554e;
  color: #dbd0c3;
}

header {
  h1 {
    font-weight: 900;
  }

  p.view {
    text-align: left;
  }
}

.logo {
  border-radius: 6px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #734b26;
}
