--- 
--- 

@import "{{ site.theme }}";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1918;
}

::-webkit-scrollbar-thumb {
  background: #947756;
}

::-webkit-scrollbar-thumb:hover {
  background: #f38406;
}

body {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #1a1918;
}

.highlight {
  background-color: #423e3a;
}

h1, h2 {
  color:#f3b062
}

h3 {
  color:#ebc59a
}

h4, h5, h6 {
  color:#e0ccb6
}

a {
  color:#e2bd93
}

code {
  color:#a89d84
}

p {
  color:#dbd0c3
}

header {
  h1 {
    font-weight: 900;
  }

  p {
    text-align: center;
  }

  p.view {
    text-align: left;
  }
}
