---
---

// Headers
$header-heading-color: #eed0aa;
$header-bg-color: #4b4526;
$header-bg-color-secondary: #533726;

// Text
$section-headings-color: #5e420f;
$body-text-color: #53503f;
$body-link-color: #99703b;
$blockquote-text-color: #6b665a;

// Code
$code-bg-color: #faf8f3;
$code-text-color: #a38d71;

// Borders
$border-color: #f0eadc;
$table-border-color: #ecebe9;
$hr-border-color: #f1f0ef;

@import "{{ site.theme }}";

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}